{% extends 'main/base.html' %}
{% load static %}
{% block title %} Contact Form {% endblock %}
{% block content %}
<section id="contact" class="section contact">
    <a href="https://drive.google.com/file/d/1eusisr0d0rag1cZVPhJT7R4ZygZyo_ve/view?usp=sharing">Download Resume</a>
    <h1>Contact Us</h1>
    <form method="post" class="contact-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Send Message</button>
    </form>
</section>
{% endblock %}
