{% extends 'main/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% block content %}
<div class="home-hero">
    <!-- Hero Content -->
    <div class="hero-content">
        <img src="{% static 'images/logo.png' %}" alt="Hessa Developer Logo" class="img-fluid mb-3">
        <b></b><pre class="sentence-text">
if success() == True
    celebrate()
while success() == False
    Try_again()
    Be_Awesome()
        </pre>
    </div>
</div>
{% endblock %}





